<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link href="/stylesheets/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/stylesheets/flexslider.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/style_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>

</head>
<body>
  <div id="wrapper" class="home-page">
      <div class="topbar">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <p class="pull-left hidden-xs">Work hours: 24/7</p>
                      <p class="pull-right"><i class="fa fa-phone"></i>Tel No.(+998) 85 232-27-27</p>
                  </div>
              </div>
          </div>
      </div>


{{> header }}
<section id="banner">

    <!-- Slider -->
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>E-Pharm reccomend</h3>
                    <p>We wish all of you healthy life</p>

                </div>
            </li>
            <li>
                <img src="img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3> Seasonal remedies </h3>
                    <p>Contact us to promoto your remedy</p>

                </div>
            </li>
        </ul>
    </div>
    <!-- end slider -->

</section>

<div class="container">
    {{{body}}}
</div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/jquery.easing.1.3.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.fancybox.pack.js"></script>
<script src="javascripts/jquery.fancybox-media.js"></script>
<script src="javascripts/jquery.flexslider.js"></script>
<script src="javascripts/animate.js"></script>
<!-- Vendor Scripts -->
<script src="javascripts/modernizr.custom.js"></script>
<script src="javascripts/jquery.isotope.min.js"></script>
<script src="javascripts/jquery.magnific-popup.min.js"></script>
<script src="javascripts/animate.js"></script>
<script src="javascripts/custom.js"></script><script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
</body>
</html>
